{% extends 'users/base.html' %}

{% block title %}
    Computations page
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="computations-wrapper">
            <div class="drop-zone">
                <span class="drop-zone__prompt">Drop image here or click to upload</span>
                <input type="file" class="drop-zone__input" name="image">
            </div>
            <div class="computations-button-wrapper">
                <button type="submit" class="btn" style="background-color: #F2EDED">Compute</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block image-gallary %}
    <div class="container">
        <h2 class="heading-text">Choose <span> the face you'd like to process</span></h2>
        <ul class="image-gallery">
            {% for image in images %}
                {% with image_id=forloop.counter0 %}
                <li id="{{ image_id }}"
                    onclick="imageClicked()">
                    <img src="data:image/png;base64,{{ image }}" alt=""/>
                    <div class="overlay"><span>Choose</span></div>
                </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}