{% extends 'computations/computations_base.html' %}


{% block title %}
    Computations page
{% endblock %}

{% block subcontent %}
        <div class="form-floating">
                <textarea class="form-control"
                          style="min-height: 25vh"
                          placeholder="Results will be here"
                          id="floatingTextarea"
                          name="output"
                          readonly>
                    {{ output }}
                </textarea>
                <label for="floatingTextarea">Results</label>
        </div>
    </form>
{% endblock %}